<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sdf">


	<select id="select_login" resultType="com.team7.vo.MemberInfo1" >
		select * from team7.team7_member where id = '${id}' AND pw = '${pw}'
	</select>
	<select id="select_log2" resultType="com.team7.vo.MemberInfo1" >
		select * from team7.team7_member where id = '${id}'
	</select>


	<insert id="insert_JOIN" parameterType="String">
		insert into team7.team7_member values('${id}', '${name}', '${nickname}', '${email}', '${pw}', '${state}', '${address_num}' , '${address}', '${interest}', NOW(), NOW() ) 
	</insert>


	<select id="select_List_Notice" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice limit ${page}, 10
	</select>
	
	
	<select id="select_ListCount_Notice" resultType="com.team7.vo.PageInfo" >
		select count(*) as 'page' from team7.team7_notice
	</select>
	<select id="select_Notice" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice where no = ${no}
	</select>
	
	<insert id="insert_Notice" parameterType="String">
		insert into team7.team7_notice values( default, #{title}, #{writer}, NOW(), #{content}  )
	</insert>
	<update id="update_Notice">
		update team7.team7_notice set title = #{title} , writer = #{writer}, content = #{content} where no = #{no}
	</update>
	<delete id="delete_Notice">
		delete from team7.team7_notice where no = ${no}
	</delete>
	
	<select id="NoticeselectAll" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice
	</select>
	<select id="NoticeselectTHATONE" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice where no = ${i}
	</select>





	<insert id="insert_CreateClub" parameterType="String">
		insert into team7.team7_club values(default, '${name}', '${admin}' , '${publicity}', '${memberJoin}', ${memberLimit}, '${e_type}', '${meetingDate}', '${area}', '${profile}', '${photo1}', '${photo2}' )
	</insert>

	<insert id="insert_CCMember" parameterType="String">
		insert into team7.team7_cmember values(default,${no},'${admin}',null)
	</insert>
	
	<select id="ClubselectAll" resultType="com.team7.vo.ClubBean" >
		select * , count(cmember) as memberNum from team7.team7_club, team7.team7_cmember where team7_club.no = team7_cmember.club group by team7_cmember.club
	</select>

	<select id="ClubselectAll2" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club limit ${page}, 10
	</select>

	<select id="ClubMPhotoSelectAll" resultType="com.team7.vo.PhotoBean" >
		SELECT team7_club.no, picture FROM team7.team7_club, team7_picture_data where team7_picture_data.id like concat(team7_club.admin,'_club_', team7_club.no,'_main')
	</select>
	
	<select id="ClubselectNo" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where no = ${no}
	</select>

	<select id="ClubselectID" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where admin = '${admin}'
	</select>
	<select id="Select_club_by_Member" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where no in (select club from team7.team7_cmember where cmember = '${id}')
	</select>
	<select id="Select_club_by_MyZZIM" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where no in (select club from team7.team7_zzim3 where person = '${id}')
	</select>
	<select id="Select_club_by_where" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where area = '${area}'  
	</select>
	
	<update id="update_editClub">
		update team7.team7_club set publicity = '${club_publicity}' , memberJoin = '${club_memberJoin}' , memberLimit = ${club_memLimit} , e_type = '${club_exc_type}', meetingDate = '${club_Date_week} ${club_Date_hour}', area = '${club_area}' , profile = '${club_profileText}', photo1=  '${club_profile_photo1}', photo2= '${club_profile_photo2}' where no = #{no}
	</update>
	
	<delete id="delete_Club">
		delete from team7.team7_club where no = #{no}
	</delete>
	
	

	<select id="Select_club_by_order_zzim_desc" resultType="com.team7.vo.ClubBean" >
		select *, count(person) as 'zzimNum' from team7_club, team7_zzim3 where team7_club.no = team7_zzim3.club group by team7_zzim3.club order by count(person) desc;
	</select>
	<select id="Select_club_by_search_name" resultType="com.team7.vo.ClubBean" >
		select * from team7_club where name like '%${name}%'
	</select>
	<select id="Select_club_by_search_exc" resultType="com.team7.vo.ClubBean" >
		select * from team7_club where e_type like '%${e_type}%'
	</select>
	
	
	
	

	<select id="select_C_enrolls" resultType="com.team7.vo.C_enroll_Bean" >
		select * from team7.team7_club_enroll where club = ${no}
	</select>
	<select id="select_C_members" resultType="com.team7.vo.CmemberBean" >
		select * from team7.team7_cmember where club = ${no}
	</select>
	<insert id="insert_cmem" parameterType="String">
		insert into team7.team7_cmember values(default, ${club}, '${cmember}', null)
	</insert>
	<insert id="insert_enroll" parameterType="String">
		insert into team7.team7_club_enroll values(default, NOW(), ${club},'${wanttobe}','${etime}','${wanttodo}','${memo}')
	</insert>
	<delete id="delete_enroll">
		delete from team7.team7_club_enroll where club = '${club}' AND wanttobe = '${wanttobe}'
	</delete>
	
	<select id="select_amiInClub" resultType="com.team7.vo.CmemberBean" >
		select * from team7.team7_cmember where club = ${club} AND cmember = '${cmember}'
	</select>
	<update id="update_letmeoutClub">
		update team7.team7_cmember set outatdate = ${outatdate} where id = ${id}
	</update>
	<update id="update_outClubCancle">
		update team7.team7_cmember set outatdate = null where id = ${id}
	</update>
	<delete id="delete_cmember">
		delete from team7_cmember where club = ${club} AND cmember = '${cmember}'
	</delete>






	<insert id="insert_PICTURE" parameterType="String">
		insert into team7.team7_picture_data values(default, '${id}', '${picture}')
	</insert>
	<delete id="delete_rePICTURE">
		delete from team7.team7_picture_data where id = '${id}'
	</delete>
	<select id="select_club_mainphotos" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_club\_${no}\_%'
	</select>
	<select id="select_cpost_myphoto" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_clubpost\_${no}'
	</select>
	<select id="select_cpost_photo" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${no}\_clubpost\_%'
	</select>
	<select id="select_trainer_photo_all" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_trainer\_%'
	</select>
	<select id="select_trainer_photo" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_trainer\_${no}'
	</select>
	<select id="select_gym_photo_all" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_gym\_${no}\_%'
	</select>
	<select id="select_gym_photo" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '${id}\_gym\_${no}\_${picture}'
	</select>
	<select id="select_Entire_trainer_photos" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '%\_trainer\_%'
	</select>
	<select id="select_Entire_gym_photos" resultType="com.team7.vo.PhotoBean" >
		select * from team7.team7_picture_data where id like '%\_gym\_%'
	</select>
	
	
	
	<insert id="insert_CPOST" parameterType="String">
		insert into team7.team7_cpost values(${club}, default, '${title}','${writer}','${contents}','${pkind}','${pcon}')
	</insert>
	<select id="select_CPOST_by_Clubno" resultType="com.team7.vo.PostBean" >
		select * from team7.team7_cpost where club = ${no}
	</select>
	<select id="select_CPOST_by_writer" resultType="com.team7.vo.PostBean" >
		select * from team7.team7_cpost where writer = '${id}'
	</select>
	
	<delete id="delete_Cpost">
		delete from team7_cpost where no = ${value}
	</delete>
	<delete id="delete_Gpost">
		delete from team7_gpost where no = ${value}
	</delete>
	<delete id="delete_Tpost">
		delete from team7_tpost where no = ${value}
	</delete>
	
	
	
	<insert id="insert_GPOST" parameterType="String">
		insert into team7.team7_gpost values(${gym}, default, '${title}','${writer}','${contents}','${pkind}','${pcon}')
	</insert>
	<select id="select_GPOST_by_gymno" resultType="com.team7.vo.PostBean" >
		select * from team7.team7_gpost where gym = ${no} order by no desc
	</select>
	<select id="select_GPOST" resultType="com.team7.vo.PostBean" >
		select count(gym) as no, gym from team7.team7_gpost group by gym
	</select>
	<insert id="insert_TPOST" parameterType="String">
		insert into team7.team7_tpost values(${trainer}, default, '${title}','${writer}','${contents}','${pkind}','${pcon}')
	</insert>
	<select id="select_TPOST_by_trainerno" resultType="com.team7.vo.PostBean" >
		select * from team7.team7_tpost where trainer = ${no} order by no desc
	</select>
	<select id="select_TPOST" resultType="com.team7.vo.PostBean" >
		select count(trainer) as no, trainer from team7.team7_tpost group by trainer
	</select>
	
	<select id="select_POST_for_index1" resultType="com.team7.vo.PostBean" >
		select * from team7_gpost where pcon like '전체공개' limit 3
	</select>
	<select id="select_POST_for_index2" resultType="com.team7.vo.PostBean" >
		select * from team7_tpost where pcon like '전체공개' limit 3
	</select>
	<select id="select_POST_for_index3" resultType="com.team7.vo.PostBean" >
		select * from team7_cpost where pcon like '전체공개' limit 3
	</select>
	
	<insert id="insert_ZGym" parameterType="String">
		insert into team7.team7_zzim1 values( default, '${person}', ${gym} )
	</insert>
	<insert id="insert_ZTrainer" parameterType="String">
		insert into team7.team7_zzim2 values( default, '${person}', ${trainer} )
	</insert>
	<insert id="insert_ZClub" parameterType="String">
		insert into team7.team7_zzim3 values( default, '${person}', ${club} )
	</insert>
	
	<delete id="delete_ZGym">
		delete from team7.team7_zzim1 where person = '${person}' AND gym = ${gym}
	</delete>
	<delete id="delete_ZTrainer">
		delete from team7.team7_zzim2 where person = '${person}' AND trainer = ${trainer}
	</delete>
	<delete id="delete_ZClub">
		delete from team7.team7_zzim3 where person = '${person}' AND club = ${club}
	</delete>
	
	
	<select id="select_zzim1" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim1 where gym = ${gym}
	</select>
	<select id="select_zzim2" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim2 where trainer = ${trainer}
	</select>
	<select id="select_zzim3" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim3 where club = ${club}
	</select>
	<select id="select_zzim1_ALL" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim1
	</select>
	<select id="select_zzim2_ALL" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim2
	</select>
	<select id="select_zzim3_ALL" resultType="com.team7.vo.ZZIMBean" >
		select * from team7.team7_zzim3
	</select>
	
	<select id="select_zzim1_withCount" resultType="com.team7.vo.ZZIMBean" >
		select gym, count(gym) as count from team7.team7_zzim1 group by gym
	</select>
	<select id="select_zzim2_withCount" resultType="com.team7.vo.ZZIMBean" >
		select trainer,count(trainer) as count from team7.team7_zzim2 group by trainer
	</select> 
	<select id="select_zzim3_withCount" resultType="com.team7.vo.ZZIMBean" >
		select club, count(club) as count from team7.team7_zzim3 group by club
	</select>
	
	<select id="select_zzim1_withCount2" resultType="com.team7.vo.ZZIMBean" >
		select gym, count(gym) as count, case when ('${person}' = person) then 1 else 0 end as 'zzimed' from team7.team7_zzim1 group by gym
	</select>
	<select id="select_zzim2_withCount2" resultType="com.team7.vo.ZZIMBean" >
		select trainer, count(trainer) as count, case when ('${person}' = person) then 1 else 0 end as 'zzimed' from team7.team7_zzim2 group by trainer
	</select> 
	<select id="select_zzim3_withCount2" resultType="com.team7.vo.ZZIMBean" >
		select club, count(club) as count, case when ('${person}' = person) then 1 else 0 end as 'zzimed' from team7.team7_zzim3 group by club
	</select>
	
	
	
	<select id="select_zzim1_YN" resultType="com.team7.vo.ZZIMBean" >
		select * from team7_zzim1 where person = '${person}' AND gym = ${gym}
	</select>
	<select id="select_zzim2_YN" resultType="com.team7.vo.ZZIMBean" >
		select * from team7_zzim2 where person = '${person}' AND trainer = ${trainer}
	</select>
	<select id="select_zzim3_YN" resultType="com.team7.vo.ZZIMBean" >
		select * from team7_zzim3 where person = '${person}' AND club = ${club}
	</select>
	
	
	<select id="select_gpost_zzim00" resultType="com.team7.vo.ZZIMBean" >
		select a.gpost, count(a.gpost) as count, 
			case when (b.person = ${person}) then 1 else 0 end as 'zzimed'
		from team7_gpost_zzim a, team7_gpost_zzim b 
		where a.id = b.id and a.gpost = b.gpost
		group by a.gpost
	</select>
	<select id="select_tpost_zzim00" resultType="com.team7.vo.ZZIMBean" >
		select a.tpost, count(a.tpost) as count, 
			case when (b.person = ${person}) then 1 else 0 end as 'zzimed'
		from team7_tpost_zzim a, team7_tpost_zzim b 
		where a.id = b.id and a.tpost = b.tpost
		group by a.tpost
	</select>
	<select id="select_cpost_zzim00" resultType="com.team7.vo.ZZIMBean" >
		select a.cpost, count(a.cpost) as count, 
			case when (b.person = ${person}) then 1 else 0 end as 'zzimed'
		from team7_cpost_zzim a, team7_cpost_zzim b 
		where a.id = b.id and a.cpost = b.cpost
		group by a.cpost
	</select>
	
	
	<select id="select_gpost_zzim" resultType="com.team7.vo.ZZIMBean" >
		select *, count(gpost) as count,
		case when (person = #{person}) then 1 else 0 end as 'zzimed' 
		from team7_gpost_zzim group by gpost, zzimed
	</select>
	<select id="select_tpost_zzim" resultType="com.team7.vo.ZZIMBean" >
		select *, count(tpost) as count,
		case when (person = #{person}) then 1 else 0 end as 'zzimed' 
		from team7_tpost_zzim group by tpost, zzimed
	</select>
	<select id="select_cpost_zzim" resultType="com.team7.vo.ZZIMBean" >
		select *, count(cpost) as count,
		case when (person = #{person}) then 1 else 0 end as 'zzimed' 
		from team7_cpost_zzim group by cpost, zzimed
	</select>
	
	<insert id="insert_gpost_z" parameterType="String">
		insert into team7.team7_gpost_zzim values( default, '${person}', ${gpost} )
	</insert>
	<insert id="insert_tpost_z" parameterType="String">
		insert into team7.team7_tpost_zzim values( default, '${person}', ${tpost} )
	</insert>
	<insert id="insert_cpost_z" parameterType="String">
		insert into team7_cpost_zzim values( default, '${person}', ${cpost} )
	</insert>
	
	<delete id="delete_gpost_z">
		delete from team7.team7_gpost_zzim where person = '${person}' AND gpost = ${gpost}
	</delete>
	<delete id="delete_tpost_z">
		delete from team7.team7_tpost_zzim where person = '${person}' AND tpost = ${tpost}
	</delete>
	<delete id="delete_cpost_z">
		delete from team7.team7_cpost_zzim where person = '${person}' AND cpost = ${cpost}
	</delete>
	
	




	
	<insert id="insert_Trainer" parameterType="String">

	insert into team7.team7_trainer values(default, '${id}', '${tname}' , '${sex}', '${tphone}',' ${tbirth}', '${temail}', '${ttime}', '${twhere}', '${tmajor}', '${tcareer}', '${tprofile}', '${tcerti}', '${tstory}', '${tsns}', '${thowjoin}', 1, '${tbigtext}','${tsmalltext}');

	</insert>
	
	
	<select id="selectall_Trainer2" resultType="com.team7.vo.Trainer_info" >
		select * from team7.team7_trainer
	</select>
	
	<select id="selectall_Trainer" resultType="com.team7.vo.Trainer_info" >
		select * from team7_trainer, team7_picture_data  where  team7_picture_data.id like concat(team7_trainer.id,'_trainer%' )
	</select>
	
	<select id="selectOne_Trainer2" resultType="com.team7.vo.Trainer_info" >
		select * from team7.team7_trainer where no = ${no}
	</select>
	
	<select id="selectOne_Trainer" resultType="com.team7.vo.Trainer_info" >
		select * from team7.team7_trainer, team7_picture_data  where  team7_picture_data.id like concat(team7_trainer.id,'_trainer_1' )  AND team7_trainer.no = ${no}
	</select>
	
	<select id="selectMy_Trainer" resultType="com.team7.vo.Trainer_info" >
		select * from team7.team7_trainer where id = '${id}'
	</select>
	
	<update id="update_Trainer">
		update team7.team7_trainer set 
			tphone = #{tphone} ,  temail = #{temail} , ttime = #{ttime} , twhere= #{twhere} , tmajor= #{tmajor}, 
			tcareer= #{tcareer}, tprofile= #{tprofile}, tcerti= #{tcerti}, 
			tsns= #{tsns}, tstory= #{tstory}, 
			thowjoin= #{thowjoin}, tbigtext= #{tbigtext}, tsmalltext= #{tsmalltext} 
		where id = #{id}
	</update>
	
	
	
	<insert id="insert_Gym" parameterType="String">

	insert into team7.team7_gym values(default, '${owner}', '${gname}' , '${address_num}', '${address}',' ${gphone}', '${opentime}', '${gprice}', '${gtype}', '${contents}', '${gpage}', '${gcerti}', '${gprogram}', '${gsmalltext}');

	</insert>
	
	<select id="selectall_Gym" resultType="com.team7.vo.Gym_info" >
		select * from team7.team7_gym
	</select>
	
	
	<select id="selectall_Gym2" resultType="com.team7.vo.Gym_info" >
		select * from team7.team7_gym, team7_picture_data where team7_picture_data.id like concat(team7_gym.owner,'_gym_%_1')
	</select>
	
	<select id="selectOne_Gym" resultType="com.team7.vo.Gym_info" >
		select * from team7.team7_gym where gid = '${gid}'
	</select>
	<select id="select_GYM_by_Owner" resultType="com.team7.vo.Gym_info" >
		select * from team7.team7_gym where owner = '${owner}'
	</select>
	

	<update id="update_gym_info">
		update team7.team7_gym  
			set gname = #{gname} , address_num = #{address_num} , address = ${address} , 
				gphone = #{gphone}, opentime= #{opentime},grpice= #{grpice},
				gtype= #{gtype},contents= #{contents},gpage= #{gpage},
				gcerti= #{gcerti},gprogram= #{gprogram},
				gsmalltext= #{gsmalltext}
		where owner = #{owner}
	</update>


 

	<select id="000000selectAll" resultType="com.team7.vo.ClubBean" >
		select * from mybatis_0714.new_table00
	</select>
	<insert id="000000insert" parameterType="String">
		insert into mybatis_0714.new_table00 values( default, ${col1}, ${col2} )
	</insert>

	<update id="000000update">
		update mybatis_0714.new_table00 set col1 = ${col1} , col2 = ${col2} where id = ${id}
	</update>
	<delete id="000000delete">
		delete from mybatis_0714.new_table00 where id = ${id}
	</delete>
	
	
	
</mapper>
