<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sdf">


	<select id="select_login" resultType="com.team7.vo.MemberInfo1" >
		select * from team7.team7_member where id = '${id}' AND pw = '${pw}'
	</select>


	<insert id="insert_JOIN" parameterType="String">
		insert into team7.team7_member values('${id}', '${name}', '${nickname}', '${email}', '${pw}', '${state}', '${address_num}' , '${address}', '${interest}', NOW(), NOW() ) 
	</insert>


	<select id="select_List_Notice" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice limit ${page}, 10
	</select>
	
	
	<select id="select_ListCount_Notice" resultType="com.team7.vo.PageInfo" >
		select count(*) as 'page' from team7.team7_notice
	</select>
	<select id="select_Notice" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice where no = ${no}
	</select>
	
	<insert id="insert_Notice" parameterType="String">
		insert into team7.team7_notice values( default, #{title}, #{writer}, NOW(), #{content}  )
	</insert>
	<update id="update_Notice">
		update team7.team7_notice set title = #{title} , writer = #{writer}, content = #{content} where no = #{no}
	</update>
	<delete id="delete_Notice">
		delete from team7.team7_notice where no = ${no}
	</delete>
	
	<select id="NoticeselectAll" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice
	</select>
	<select id="NoticeselectTHATONE" resultType="com.team7.vo.NoticeBean" >
		select * from team7.team7_notice where no = ${i}
	</select>





	<insert id="insert_CreateClub" parameterType="String">
		insert into team7.team7_club values(default, '${name}', '${admin}' , '${publicity}', '${memberJoin}', ${memberLimit}, '${e_type}', '${meetingDate}', '${area}', '${profile}', '${photo1}', '${photo2}' )
	</insert>

	<insert id="insert_CCMember" parameterType="String">
		insert into team7.team7_cmember values(${no},'${admin}')
	</insert>
	
	<select id="ClubselectAll" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club
	</select>

	<select id="ClubselectAll2" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club limit ${page}, 10
	</select>

	<select id="ClubselectNo" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where no = ${no}
	</select>

	<select id="ClubselectID" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where admin = '${admin}'
	</select>
	<select id="Select_club_by_Member" resultType="com.team7.vo.ClubBean" >
		select * from team7.team7_club where no in (select club from team7.team7_cmember where cmember = '${id}')
	</select>
	
	<update id="update_editClub">
		update team7.team7_club set publicity = '${club_publicity}' , memberJoin = '${club_memberJoin}' , memberLimit = ${club_memLimit} , e_type = '${club_exc_type}', meetingDate = '${club_Date_week} ${club_Date_hour}', area = '${club_area}' , profile = '${club_profileText}', photo1=  '${club_profile_photo1}', photo2= '${club_profile_photo2}' where no = #{no}
	</update>
	
	<delete id="delete_Club">
		delete from team7.team7_club where no = #{no}
	</delete>
	

	<insert id="insert_cJoin" parameterType="String">
		insert into team7.team7_cmember values(${club},'${wanttobe}','${etime}','${wanttodo}','${memo}')
	</insert>
	<insert id="insert_enroll" parameterType="String">
		insert into team7.team7_club_enroll values(${club}, '${cmember}')
	</insert>


	<insert id="insert_PICTURE" parameterType="String">
		insert into team7.team7_picture_data values('${id}', '${picture}')
	</insert>
	



	<insert id="insert_Trainer" parameterType="String">
	insert into team7.team7_trainer values(default, '${id}', '${tname}' , '${sex}', '${tphone}', ${tbirth}, '${temail}', '${twhere}', '${tmajor}', '${tcareer}', '${tprofile}', '${tcerti}', '${tstory}', '${tsns}', '${thowjoin}', 1, '${bigtext}','${smalltext}');
	saf;lajsd;fklrielajr;klaw
	</insert>

	<select id="selectall_Trainer" resultType="com.team7.vo.Trainer_info" >
		select * from team7.team7_trainer
	</select>
	
	
	
	
	
	
	<select id="select_C_enrolls" resultType="com.team7.vo.C_enroll_Bean" >
		select * from team7.team7_club_enroll where club = ${no}
	</select>
	
	<select id="select_C_members" resultType="com.team7.vo.CmemberBean" >
		select * from team7.team7_cmember where club = ${no}
	</select>






	<select id="000000selectAll" resultType="com.team7.vo.DTO_ClubProperties" >
		select * from mybatis_0714.new_table00
	</select>
	<insert id="000000insert" parameterType="String">
		insert into mybatis_0714.new_table00 values( default, #{col1}, #{col2} )
	</insert>

	<update id="000000update">
		update mybatis_0714.new_table00 set col1 = #{col1} , col2 = #{col2} where id = #{id}
	</update>
	<delete id="000000delete">
		delete from mybatis_0714.new_table00 where id = #{id}
	</delete>
	
	
	
</mapper>
