      section.hero{

          width: 100%;

          overflow: hidden;
          object-fit: cover;
          color: white;
          text-align: center;
          text-shadow:  0 1px 1px rgba(0,0,0,.62);
          color: white;
      }
 /*   section.hero *{
      color: #987c67;
    }*/

    section.hero .hero__btn{
          background-color: #b6a5a5;
              color: #fafafa;
    }
    section.hero .hero__snippet1{
        color: black;

    }
    section.hero .sidenav{

      position: absolute;
      right: unset;
      left: calc(50% + 250px);
    }
    section.hero .sidenav a{
      color: black;
    }

    section.hero .text{
      top:unset;
      top:350px;
    }
.main_pic_01{
  position: relative;
  /*width: 2000px;*/
  height: 321px;
  width: 100%;
  object-fit: cover;
}

.main_pic_w{
  position: absolute;
  top: 162px;
  width: 100%;
  object-fit: cover;
}


.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 400px;
  right: 170px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  .sidenav a {
    font-size: 10px;
    right:100px;
  }
}
@media screen and (max-width: 540px) {
  .sidenav {
    font-size: 10px;
    right:140px;
  }
}