
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
.wrap000{
	position: fixed;
	top: 0;
	left: 0;
	/*width: 100%;
	height: 990px;*/
}
.wrap000 img{
	/*width: 150%;*/

}
.logo_loc{
	/*position: fixed;*/
	position: absolute;
	/*top: 50px;*/
	z-index: 6000000;
	/*background:rgba(255,255,255,0.6);*/
	padding: 2px 17px;
	top: 0px;
	right: 0px;
}
.closeModal{
	position: relative;
	left: 267px;
	/*top: 35px;*/
}

.my_middler {
	/*background: #f6f5f7;*/
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	transition: transform 80ms ease-in;
	/*flex-direction: column;*/
	/*font-family: 'Montserrat', sans-serif;*/
	/*height: 100vh; 이걸로 강제로 맞추고 있었군. */
	/*margin: -20px 0 50px;*/
}
.my_joiner{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	transition: transform 80ms ease-in;
	background: rgba(255,255,255,0.5);
	z-index: 678000;
}
.disnoneR{
	display: none;
}

.my_joiner h1 {
	font-weight: bold;
	margin: 0;
}

.my_joiner h2 {
	text-align: center;
}

.my_joiner p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.my_joiner span {
	font-size: 12px;
}

.my_joiner a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.my_joiner button {
	/*border-radius: 20px;*/
	border-radius: 10px;
	/*border: 1px solid #FF4B2B;*/
	border: 1px solid silver;
	/*background-color: #FF4B2B;*/
	/*background-color: silver;*/
	/*color: #FFFFFF;*/
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.my_joiner button:active {
	transform: scale(0.95);
}

.my_joiner button:focus {
	outline: none;
}
.my_joiner button:hover {
	background-color: silver;
}

.my_joiner button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.my_joiner input[type=checkbox]{

}
.my_joiner textarea{
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	resize: none;
	width: 100%;

}
.my_joiner select{
	width: 100%;
	padding: 10px 15px;
	margin: 8px 0;
	border: none;
	background-color: #eee;
}
.my_joiner select[value="notthisone"]{
	color: red;
}

.my_joiner .clicker{
	cursor:pointer;
}

.my_joiner .innerwrap {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column;
	padding: 50px 50px;
	/*height: 100%;*/
	/*height: 550px;*/
	min-height: 600px;
	text-align: center;
	min-width: 140px;
}
.my_joiner .innerwrap span{
	margin-bottom: 15px;
}

.my_joiner input {
	background-color: #eee;
	padding: 12px 15px;
	margin: 11px 0;
	width: 100%;
	/*transition: all 0.1s;*/
}

.output01{
	width: 100%;
	text-align: left;
	color: red;
	height: 0;
}/*
.output_color_r{
	color: red;
}*/
.output01 *{
	position: relative;
	top: -11px;
	font-size:12px;
}

.my_joiner .input00{
	/*border: none;*/
	border:2px solid var(--silver-color-1);
	/*transition: all 0.6s ease-in-out;*/
}

.my_joiner .checkbox00{
	margin: 0;
	position: relative;
	top: 2px;
}
.my_joiner .bt00{
	/*display: inline;*/
	/*padding: 12px 45px;*/
	padding: 12px 25px;
	margin:13px;
	min-width: 122px;
}
.my_joiner .myspan00{
	margin: 10px;
	padding: 4px;
}
.my_joiner .mytable00{
	margin: 10px;
	padding: 4px;
}
.my_joiner .mytable00 tr{
	padding: 5px;
}
.my_joiner .mytable00 td{
	padding: 5px;
	text-align: left;
	font-size: 14px;
	min-width: 80px;
}

.bt00_left{
	margin-right: 0 !important; 
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;

}
.bt00_right{
	margin-left: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

}

.joiner_container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	/*width: 768px;*/
	width: 820px;
	max-width: 100%;
	min-height: 600px;
	transition: all 0.6s ease-in-out;
	margin: auto;
}

.oneline_plz{
	margin-top: 15px;
	margin-bottom: 11px;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}
.oneline_plz input{
	display: inline-block;
	width: initial;
	margin: 10px;
	/*margin-top: 15px;*/
}

.opacity1{
	opacity: 1;
}
.opacity0_7{
	opacity: 0.75;
}
.opacity0{
	opacity: 0;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @@@@@@@@@@@@@@@@@*/
.form-joiner_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.joiner_container_picture {
	left: 0;
	width: 50%;
	/*opacity: 0;*/
	opacity: 1;
	z-index: 10;
	/*transition: all 0.6s ease-in-out;*/
}
.joiner_container_picture img{
  object-fit: cover; 
  height: 100%;
  width: 100%;
}
.joiner_container1 {
	left: 50%;
	width: 50%;
	/*opacity: 0;*/
	z-index: 17;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}

.joiner_container2 {
	left: 50%;
	width: 50%;
	z-index: 15;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}

.joiner_container3 {
	left: 50%;
	width: 50%;
	z-index: 13;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}
.joiner_container2_2 {
	left: 50%;
	width: 50%;
	z-index: 14;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}.joiner_container3_2 {
	left: 50%;
	width: 50%;
	z-index: 12;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}
.joiner_container00 {
	left: 50%;
	width: 50%;
	z-index: 11;
	border-right: 1px solid silver;
	transition: all 0.6s ease-in-out;
}
/*.joiner_container_good {
	left: 50%;
	width: 50%;
	z-index: 12;
	border-right: 1px solid silver;
	transition: all 3s ease-in-out;
}*/
/* 여기도 계속 해가야징 */
/*
.joiner_container.right-panel-active .joiner_container2 {
	transform: translateX(100%);
}*/
.joiner_container1.next_step {
	transform: translateX(-100%);
	/*z-index: 12;*//*
	animation: show 2s;*/
}

.joiner_container2.next_step {
	transform: translateX(-100%);
	z-index: 19;/*
	animation: show 0.6s;*/
}


.joiner_container3.next_step {
	transform: translateX(-100%);
	z-index: 19;/*
	animation: show 0.6s;*/
	background: 
}
.dismiss{
	/*z-index: 10;*/
	transform: translateX(-100%);
	transition: all 1s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}
/*
.overlay-joiner_container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	z-index: 100;
}*/
/*
.joiner_container.right-panel-active .overlay-joiner_container{
	transform: translateX(-100%);
}*/

.overlay {
	/*background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);*/
	background: #FF416C;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}

.joiner_container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: all 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.joiner_container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.joiner_container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-joiner_container {
	margin: 20px 0;
}

.social-joiner_container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/*.borderok::before{
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.borderok::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}*/
.borderNO{
	/*border-bottom:  2px solid red !important;
	border-right: 2px solid red !important;*/
	border: 2px solid red !important;
  /*border-top-color: red !important;*/
  /*border-right-color: red;*/
  /*-webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: all 0.25s ease-out, height 0.25s ease-out 0.25s;*/
}

.borderOK{
	border: 2px solid green !important;
}
/*.draw00000:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw00000:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}*/

.zbehind{
	z-index: 9;/*
	transition:all 1s;*/
	/*transition-duration: 1s;*/
	/*transition: transform 80ms ease-in;*/
}
.ztop{
	z-index: 15000000;/*
	transition:all 0.1s;*//*
  	transform: translateX(-100%) + translateX(100%) ;
  	transition: transform 0.25s ease-out, transform 0.25s ease-out 0.25s;*/
}

.backgound00{
	background-color: black;
	border: 5px solid black;
}


@media screen and (max-width: 665px){
	.joiner_container_picture{
		display: none;
	}
	.dismiss{
		display: none;
	}
	.joiner_container{
		width: 90%;
		min-width: 300px;
	}
	.joiner_container00{

	}
	.form-joiner_container{
		width: 100% !important;
		left:0px !important;
	}


}